nongit/filelists/batch3_length_outlier.txt
nongit/filelists/batch3_multispeaker.txt
nongit/filelists/batch12_length_outlier.txt
nongit/filelists/batch12_multispeaker.txt
nongit/filelists/clean_all_filter_f0_w_response_merged.txt
nongit/filelists/clean_all_filter_f0_w_response.txt
nongit/filelists/clean_all_nonempty.txt
nongit/filelists/clean_id_responsetime_BoundaryTone_filtered.txt
nongit/filelists/clean_id_responsetime_BoundaryTone.txt
nongit/filelists/clean_id_responsetime_EarlyLate_filtered.txt
nongit/filelists/clean_id_responsetime_EarlyLate.txt
nongit/filelists/clean_id_responsetime_PictureNaming_filtered.txt
nongit/filelists/clean_id_responsetime_PictureNaming.txt
nongit/filelists/f0_diff_list.txt
nongit/filelists/non_f0_list.txt
nongit/filelists/PD_batch3_rt/clean_id_responsetime_BoundaryTone.txt
nongit/filelists/PD_batch3_rt/clean_id_responsetime_EarlyLate.txt
nongit/filelists/PD_batch3_rt/clean_id_responsetime_PictureNaming.txt
nongit/pkl/merged_dataset_batch12.pkl
nongit/pkl/merged_dataset.pkl
preprocess/__pycache__/cut_using_vad.cpython-310.pyc
res_lme/res_cmp_gender_interaction.txt
res_lme/res_cmp_gender_SigInBothGender.txt
res_lme/res_cmp_gender_SigOnlyInFemale.txt
res_lme/res_cmp_gender_SigOnlyInMale.txt
res_lme/res_v1_M.txt
res_lme/res_v1_V.txt
__pycache__/dataloader.cpython-310.pyc
__pycache__/load_feat_pd.cpython-310.pyc
